body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    background-color: #ffebcd;
}

.center{
    align-self: center;
}

.header {
    font-size: 30px;
    text-align: center;
}

#gridContainer {
    display: grid;
    margin: 20px;
    width:600px;
    height:600px;
}

.blank {
    background-color: white;
    border:.5px solid lightgray;
}

.black {
    background-color: black;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear {
    height: 10%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.sidebarColors{
    background-color: #CDE1FF;
    border:2px solid #8ab0ea;
}

.clickedButton{
    background-color: #9ebeed;
    border:2px solid #71a2eb;
}

.sliderContainer{
    padding:10px;
    border-radius: 5px;
}

.slider{
    color:#CDE1FF;
}

slider:hover{
    opacity: 1;
}