body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items:center;
    background-color: #ffebcd;
}

.header {
    font-size: 30px;
    text-align: center;
}

#gridContainer {
    align-self: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    margin: 20px;
}

.square {

    height: 30px;
    width: 30px;
    background-color: white;
}

.black {
    background-color: black;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear {
    height: 10%;
    padding: 20px;
    margin: 20px;
    background-color: #CDE1FF;
    border:2px solid #8ab0ea;
    border-radius: 5px;
}

.sliderContainer{
    padding:10px;
    background-color: #CDE1FF;
    border:2px solid #8ab0ea;
    border-radius: 5px;
}

.slider{
    color:#CDE1FF;
}